* {
    box-sizing: border-box;
}

/******************************
            FONTS
******************************/

@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

/******************************
        MAIN ELEMENTS
******************************/

body {
    font-family: 'Barlow', sans-serif;
    letter-spacing: .05em;
    background-color: rgb(237,237,237);
}

header {
    text-align: center;
    padding: 0 20px;

}

header img {
    max-width: 80%;
}


.main-nav {
    display: block;
    margin-bottom: 20px;
}

.main-nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.main-nav li {
    padding: 10px;
    font-weight: bold;
    font-size: 1.3em;
}

main {
    text-align: center;
}

main img {
    max-width: 90%;
}

main p {
    padding: 5px 80px 10px;
}

footer {
    border-top: solid lightslategray 1px;
    width: 90%;
    margin: 0 auto;
}

footer ul {
    display: none;
}

.name{
    float: left;
    margin: 0;
    
}

.toTop {
    float: right;
    margin: 0;
}

.project strong {
    font-weight: bold;
    color: darkslategrey;
}

/******************************
        Link Stuff
******************************/

a:link {
    text-decoration: none;
    color: lightslategray;
}

a:visited {
    color: lightslategray;
}

a:hover {
    color: red;
}

/******************************
        Media Queries
******************************/

@media (min-width: 768px) {
    
    .main-nav li {
        font-size: 16px;
        display: inline-block;  
    }

    header {
        padding-bottom: 20px;
    }

    header p {
        text-align: left;
    }
    
    header img {
        float: right;
        width: 30%;
        margin: 0 20px  ;
    }

    .project {
        width: 50%;
        float: left;
    }

    .contact-card {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 0px;
        padding-top: 15px;
    }

    .toTop {
        display: none;
    }

    footer ul {
        display: block;
        float: right;
    }
    
    footer li {
        padding: 10px;
        font-weight: bold;
        font-size: 1.3em;
    }

    .name{
        padding-top: 10px;
    }

}


@media (min-width: 1024px) {

    body {
        max-width: 100%;
    }
    
    main {
        border-radius: 5%;
        text-align: center;
    }

    main p{
        padding: 0 20px;
    }
    
    header {
        padding-top: 25px;
    }

    header h1 {
        float: left;
        margin: 10px 0;
        padding-left: 40px;
    }
    
    header img {
        float: right;
        margin: 0 40px;
    }

    header p {
        text-align: left;
        padding: 0 40px;
    }
    
    .project p {
        text-align: center;
        padding: 0 40px;
    
    }
    .main-nav {
        text-align: right; 
        padding-right: 40px;
        margin-top: 10px;
    }
    
    .project {
        width: 33%;
        text-align: center;
    }
}

/******************************
        Clearfix
******************************/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }